<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Covid-19 Memorial</title>
  </head>
  <body>
    <div class="container">
      <!-- For Mobile -->
      <div class="mobile-bg-overlay">
          <i class="fas fa-bars"></i>
          <i class="fas fa-times"></i>
          <div class="mobile-form">
            <h3>Add a Memorial</h3>
              <form id="person-form" action="/" method="POST">
                <label for="firstName">First Name</label>
                <input type="text" name="person[firstName]" id="first-name" required />
                <label for="lastName">Last Name</label>
                <input type="text" name="person[lastName]" id="last-name" required />
                <label for="country">Country</label>
                <input type="text" name="person[country]" id="country" required />
                <label for="message">Memorial Message</label>
                <textarea
                  name="person[message]"
                  id="message"
                  rows="3"
                  maxlength="50"
                  required
                ></textarea>
                <button type="submit" class="btn">Add Memorial</button>
              </form>
          </div>
      </div>
      <div class="info-container">
        <div class="bg-overlay">
          <h2>Enter the Name of Whom We Lost.</h2>
          <hr />
          <!--  -->
          <form id="person-form" action="/" method="POST">
            <label for="firstName">First Name</label>
            <input type="text" name="person[firstName]" id="first-name" required />
            <label for="lastName">Last Name</label>
            <input type="text" name="person[lastName]" id="last-name" required />
            <label for="country">Country</label>
            <input type="text" name="person[country]" id="country" required />
            <label for="message">Memorial Message</label>
            <textarea
              name="person[message]"
              id="message"
              rows="3"
              maxlength="50"
              required
            ></textarea>
            <button type="submit" class="btn">Add Memorial</button>
          </form>
          <!--  -->
          <a href="https://twitter.com/stevedotvegas" target="_blank">Twitter: @stevedotvegas</a>
          <p>Copyright &copy 2020 Steven Woodward</p>
        </div>
      </div>
      <div class="inner-container">
        <div class="top">
          <h1>Covid-19 MEMORIAL</h1>
          <p>Remembering those who passed due to Covid-19</p>
        </div>
        <div class="middle">
            <%    for (var i = 0; i <people.length; i++) { %>
          <div class="card">
            <i class="fas fa-heart"></i>
            <h2><%= people[i].firstName %> <%= people[i].lastName %></h2>
            <h6>- <%= people[i].country %> -</h6>
            <h5>"<%= people[i].message %>"</h5>
          </div>
          <%    } %>
        </div>
      </div>
    </div>
    <script src="js/actions.js"></script>
    <!-- JS: Fontawesome -->
    <script
      src="https://kit.fontawesome.com/5a45150824.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
